@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* font-family: 'poppins'; */

* {
    box-sizing: border-box;
    box-shadow: 100%;
    margin: 0;
    font-family: poppins;
  } 

  body {
    background: #333;
    font-family: 'Poppins',sans-serif;
  }


  .hero-section {
    height: 100vh;
    color: white;
    background-image: 
      linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('img/rau.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    
    font-size: 1.4em;
    
    letter-spacing: 9px;
  }
  
  h1 {
    margin: 0 0 3rem 0;
    font-family: 'Varta', sans-serif;
  }
  
  p {
    font-family: 'Archivo', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    color: white;
  }
  
  nav {
    padding: 1em 1em;
    transition: all .3s;
  }
  
  nav:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .logo {
    flex: 1 0 auto; 
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .logo:hover {
    text-decoration: none;
    cursor: default;
  }
  
  li {
    margin-right: 25px;
  }
  
  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
    color: #ff9800;
  }
  
  .nav-link:active {
    transform: scale(1);
  }

